{% extends "base.html" %}

{% block titulo %} cadastro de Novos Veículos {% endblock %}

{% block conteudo %}
<form action="/veiculo/novo" method="post" enctype="multipart/form-data" class="container mt-4">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
        <label for="marca" class="form-label">Marca</label>
        {{ form.marca }}
    </div>
    <div class="col-6">
        <label for="modelo" class="form-label">Modelo</label>
        {{ form.modelo }}
    </div>
    <div class="col-6">
        <label for="cor" class="form-label">Cor</label>
        {{ form.cor }}
    </div>
    <div class="col-6">
        <label for="ano" class="form-label">Ano</label>
        {{ form.ano }}
    </div>
    <div class="col-6">
        <label for="combustivel" class="form-label">Combustível</label>
        {{ form.combustivel }}
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
{% endblock %}
